.container-fluid {
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bolder;
    /* background: linear-gradient(45deg,#31ff76,#96fb9f); */
}
.header {
  background: url(https://easetemplate.com/free-website-templates/hike/images/pageheader.jpg)   no-repeat;
  position: relative;
  background-size: cover;
  color: white;
}
/* .container-fluid .row h1.borderround {
  border-width: 20px;
  border-color: #252525;
} */

.container-fluid .row .col-md-3 .btn-outline-success{
  background-color: #ffffff;
  border-color: #31ff76;
  border-width: 2px;
  border-radius: 4px;
  color: #252525;
}
.container-fluid .row .col-md-3 .btn-outline-success:hover {
  /* background: linear-gradient(45deg,#31ff76,#96fb9f); */
  border-color: #ffffff;
  /* color: #ffffff; */
}
.top {
  background-color: #f3f3f3;
}
.switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 42.5px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 34.5px;
    width: 34.5px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 42.5px;
}

.slider.round:before {
    border-radius: 50%;
}
.order-card {
    color: #fff;
  }
  
  .bg-c-green {
    background: linear-gradient(45deg,#31ff76,#96fb9f);
  }
  
  
  
  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .card .card-block {
    padding: 25px;
  }
  
  .order-card i {
    font-size: 26px;
  }
  
  .f-left {
    float: left;
  }
  
  .f-right {
    float: right;
  }
  
  .bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
  }
  
  .bg-c-green {
    background: linear-gradient(45deg,#3aff8c,#59e0c5);
  }
  
  .bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
  }
  
  .bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
  }
  
  
  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .card .card-block {
    padding: 25px;
  }
  
  .order-card i {
    font-size: 26px;
  }
  
  .f-left {
    float: left;
  }
  
  .f-right {
    float: right;
  }
  a {
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
  }
  